/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}

button {
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    padding: 13px 32px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}

button:hover {
    background-color: white;
    color: black;
    border-color: #ff0e83;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER  */
header {
    background-color: #4e2a84;
    padding: 20px 0;
}

.header__content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content ul {
    list-style: none;
    margin-left: 50rem;
}

.header__content ul li {
    display: inline;
    margin: 0 1rem;
}

.header__content ul a,
.header__content ul i {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content ul i {
    font-size: 1rem;
}
.header__content ul li:hover i,
.header__content ul li:hover a{
    color: #ff0e83;
}

.header__content ul .active a {
    color: #ff0e83;
}

.header__content ul a:hover {
    color: #ff0e83;
}

/* HEADER SEARCH */

.header__search p {
    color: white;
    font-size: 2rem;
}

.header__search{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.header__search p{
    text-align: center;
    font-size: 2.3rem;
    /* margin-left: 1rem; */
}

.header__search input{
    height: 3rem;
    width: 48rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1rem;
}

.header__search input:focus {
    outline: none;
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25); */
}

.search{
    display: flex;
}

.header__search button {
    background-color: #ff0e83;
    border: none;
    height: 3rem;
    width: 1rem;
    margin-top: 1rem;
    border-radius: 0 5px 5px 0;
    /* border: 1px solid #4e2a84; */
    justify-content: center;
}

.header__search button i {
    font-size: 1.5rem;
    color: white;
    height: 3rem;
}

.header__search i {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 6rem 0 0;
}

.header__contain img {
    width: 2.5rem;
    height: 2.5rem;
}

/* CAROUSEL  */

/* INTRO  */

/* NUMBER  */
.number {
    padding: 70px 0;
}

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-of-type {
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px;
}

/* SERVICE  */

/* GALLERY */

/* TEAM  */

/* FEED BACK  */
.feedback {
    /* background-image: url(../img/cc1.jpg); */
    background-color: #4e2a84;
    background-size: cover;
    padding: 70px 0;
}

.feedback h2 {
    color: white;
}

.feedback__content {
    width: 70%;
    margin: 0 auto;
    border: 3px solid #4e2a84;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 32px;
}

.feedback__content i {
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}

.feedback__content p:last-of-type {
    color: white;
    line-height: 30px;
    letter-spacing: 1.3px;
}

/* CONTACT  */
.contact {
    padding: 70px 0;
}

.contact__form form {
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
}

.contact__form textarea,
.contact__form button {
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: all .5s;
    border-radius: 0;
}

.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}

.contact__form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.contact__form textarea:focus {
    outline: none;
}

.contact__form textarea{
    border: 1px solid black;
    resize: none;
}

.contact__form textarea::placeholder {
    color: black;
}

.contact__form button:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact__info i {
    font-size: 2rem;
    color: #4e2a84;
}

.contact__info p {
    font-size: 0.8rem;
    margin: 10px 0;
}

/* FOOTER  */
footer {
    background-color: black;
    padding: 50px 0;    
    color: white;
}

.footer__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer__item {
    width: 25%;
    padding: 0 20px;
}

.footer__item h3 {
    color: #ff0e83;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer__item p {
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}

.footer__social i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all .5s;
    margin-right: 10px;
}

.footer__social i:hover {
    color: #ff0e83;
    border-color: #ff0e83;
}

.footer__time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}

.footer__time p {
    margin: 10px 0;
    padding: 0;
}

.footer__item .footer__sub input {
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.footer__item .footer__sub input:focus {
    outline: none;
}

.footer__item .footer__sub button {
    color: black;
    padding: 7px 16px;
    border-color: black;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer__coppyright {
    text-align: center;
    font-size: 0.8rem;
}

.footer__coppyright span {
    color: #ff0e83;
}