/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: rgba(255, 247, 247, 0.624);
    letter-spacing: 1px;
}

button {
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    padding: 13px 32px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}

button:hover {
    background-color: white;
    color: black;
    border-color: #ff0e83;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER  */
header {
    background-color: #4e2a84;
    padding: 20px 0;
}

.header__content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content .name {
    color: #4e2a84;
}

.header__content ul {
    list-style: none;
}

.header__content ul li {
    display: inline;
    margin: 0 1rem;
}

.header__content ul a,
.header__content ul i {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 510;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content ul i {
    font-size: 1rem;
}
.header__content ul li:hover i,
.header__content ul li:hover a{
    color: #ff0e83;
}

.header__content ul .active a {
    color: #ff0e83;
}

.header__content ul a:hover {
    color: #ff0e83;
}

/* HEADER SEARCH */

.header__logo{
    height: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1.5rem;
}

.header__logo span{
    visibility: hidden;
}

.header__search{
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header__search p {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}

.header__search p{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 3rem;
}

.header__search input{
    width: 50rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1.3rem;
}

.header__search input:focus {
    outline: none;
}

.search{
    display: flex;
}

.header__search button {
    background-color: #ff0e83;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 0 5px 5px 0;
    border: 2px solid white;
}

.header__search button:hover {
    background-color: #212529;
}

.header__search button i {
    margin: auto;
}

.header__search .cart i:hover {
    color: #ff0e83;
    transition: all .5s;

}

.header__search i {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 6rem 0 0;
}

.header__contain img {
    width: 2.5rem;
    height: 2.5rem;
}

/* CAROUSEL  */
.carousel {
    background-image: url(../img/logo.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__content h1 {
    font-size: 3.5rem;
}

.carousel__content p {
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO  */

/* PRODUCT  */
.product {
    background-color: #f3f0f0;
    padding: 60px 0 70px;
}

.product h3:first-of-type{
    font-size: 1.7rem;
    color: #4e2a84;
    margin: -1rem 5rem 1rem;
}

.product h2{

}

.product h3:nth-child(4),
.product h3:last-of-type{
    font-size: 1.7rem;
    color: #4e2a84;
    margin: 2rem 5rem 1rem;
}

.product__content{

}

.product__item{
    position: relative;
    background-color: #4e2a84;
    border: 1px solid #d5d5d5;
}

.product__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-color: #4e2a84;
    background-size: contain;
}

.product__name{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.product__price-old {
    font-size: 1.2rem;
    color: #d1c8c8;
    text-decoration: line-through;
    margin-right: 6px;
}

.product__price-new {
    font-size: 1.5rem;
    color: #ff84bf;
}

.product__action{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 0;
    align-items: center;
}

.product__action-like{
    font-size: 1.1rem;
}

.product__action-like .emty{
    color: #ff0e83;
}

.product__action-like .fill {
    display: none;
    color: #ff0e83;
}

.product__action-rating{
    font-size: .8rem;
    color: #d1c8c8;
    margin-left: auto;
}

.product__action-rating .gold-star{
    color: #fdce3f;
}

.product__favourite{
    position: absolute;
    top: 10px;
    left: -8px;
    color: white;
    background-color: #ff0e83;
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-right: 4px;
    border-radius: 0 3px 3px 0;
}

.product__favourite.product__favourite::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    border-top: 7px solid #ca5454;
    border-left: 7px solid transparent;
}

.product__favourite i{
    margin: 0 3px 0 5px;
}

.product__action-sold{
    font-size: 1.1rem;
    margin-left: 6px;
    color: #d1c8c8;
}

.product__origin{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 4px;
    font-weight: 300;
    color: #d1c8c8;
}

.product__origin-brand{
    
}

.product__origin-country-name{

}

.product__favourite {

}

.product h2 {
    color: #4e2a84;
}

.product__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 30px;
    width: 85%;
    margin: 0 auto;
}

.product__item img {
    width: 100%;
    display: block;
}

.product__item {
    position: relative;
}

.product__item h3 {
    font-size: 1.3rem;
}

.product__item p {
    font-size: 0.875rem;
    line-height: 28px;
}

.product__title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all .5s;
}

.product__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 85px 40px;
    /* display: flex;    vi du
    flex-direction: column;
    justify-content: center;
    padding: 0 40px; */
    opacity: 0;
    transition: all .5s;
}

.product__item:hover .product__title {
    opacity: 0;
}

.product__item:hover .product__detail {
    opacity: 1;
}

.product__detail h3 {
    color: #ff0e83;
}

.product__detail p:first-of-type {
    padding: 8px 0;
}

.product__detail p:last-of-type {
    margin-bottom: 24px;
}

.product__social i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all .5s;
}

.product__social i:hover {
    color: #ff0e83;
    border-color: #ff0e83;
}

/* NUMBER  */
.number {
    padding: 3rem 0 3rem;
}

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-of-type {
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px;
}

/* SERVICE  */

/* GALLERY */

/* FEED BACK  */
.testimonials {
    /* background-image: url(../img/cc1.jpg); */
    background-color: #4e2a84;
    background-size: cover;
    padding: 70px 0;
}

.testimonials h2 {
    color: white;
}

.testimonials__content {
    width: 70%;
    margin: 0 auto;
    border: 3px solid #4e2a84;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 32px;
}

.testimonials__content i {
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}

.testimonials__content p:last-of-type {
    color: white;
    line-height: 30px;
    letter-spacing: 1.3px;
}

/* CONTACT  */
.contact {
    padding: 70px 0;
}

.contact__form form {
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
}

.contact__form textarea,
.contact__form button {
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: all .5s;
    border-radius: 0;
}

.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}

.contact__form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.contact__form textarea:focus {
    outline: none;
}

.contact__form textarea{
    border: 1px solid black;
    resize: none;
}

.contact__form textarea::placeholder {
    color: black;
}

.contact__form button:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact__info i {
    font-size: 2rem;
    color: #4e2a84;
}

.contact__info p {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 10px 0;
}

/* FOOTER  */
footer {
    background-color: black;
    padding: 50px 0;    
    color: white;
}

.footer__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer__item {
    width: 25%;
    padding: 0 20px;
}

.footer__item h3 {
    color: #ff0e83;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer__item p {
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}

.footer__social i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 25px 5px;
    transition: all .5s;
    margin-right: 10px;
}

.footer__social i:hover {
    color: #ff0e83;
    border-color: #ff0e83;
}

.footer__time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}

.footer__time p {
    margin: 10px 0;
    padding: 0;
}

.footer__item .footer__sub input {
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.footer__item .footer__sub input:focus {
    outline: none;
}

.footer__item .footer__sub button {
    color: black;
    padding: 7px 16px;
    border-color: black;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer__coppyright {
    text-align: center;
    font-size: 0.8rem;
}

.footer__coppyright span {
    color: #ff0e83;
}