.char{
	display: flex;
	padding-top: 150px;
	padding-bottom:100px;
    background-color: #f0f0f0;
}
.about_us .about h1{
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 40px;
    color: var(--purple-color);
}
.about_us .about p{
	margin-bottom: 50px;
	padding-left: 30px;
	padding-right: 25px;
}
.about_us .history p{
	padding-left: 30px;
	padding-right: 25px;
}
.about_us .team h2{
	margin-top: 50px;
}
.about_us .history h2{
	margin-bottom: 40px;
}
.about_us .team p{
	padding-left: 30px;
	padding-right: 25px;
}

.char h2 {
    font-size: 2.5rem;
    color: var(--purple-color);
}

@media (max-width: 739px) {
    .char {
        display: block;
        padding-bottom:40px;
    }
    .about_us .about h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .about_us .about p{
        font-size: .9rem;
    }

    .about_us .history p{
        padding-left: auto;
        padding-right: auto;
        font-size: .9rem;
    }

    .about_us .history h2{
        margin-bottom: 20px;
    }
    
    .char h2 {
        font-size: 2rem;
        color: var(--purple-color);
    }
}