/* GLOBAL  */
:root {
    --purple-color: #4e2a84;
    --pink-color: #ff0e83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: rgba(255, 247, 247, 0.624);
    letter-spacing: 1px;
}

/* BUTTON  */
button,
.select__input {
    background-color: var(--pink-color);
    color: white;
    border: 1px solid white;
    padding: 13px 32px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}

button:hover {
    background-color: white;
    color: black;
    border-color: var(--pink-color);
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* SELECT INPUT */
.select__input {
    position: relative;
    width: 150px;
    background-color: white;
    padding: 13px 25px;
    color: black;
    cursor: default;
    display: flex;
    justify-content: space-between;
}

.select__input:hover .select__option{
    display: block;
}

.select__option {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px ;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 4px 18px;
    z-index: 1;
    display: none;
    animation: fadeInGrowth linear .2s;
    --fadeInGrowth-from: 0.8;
    --fadeInGrowth-to: 1;
    will-change: opacity, transform;
}

.select__option li{
    padding: 13px 0 9px;
}

.select__option-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: #212529;
    transition: all .2s;
}

.select__option-link:hover{
    color: var(--pink-color);
    font-size: .975rem;
}

/* BUTTON FACEBOOK, GOOGLE */

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-facebook:hover {
    color: #42AEEC;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.fab {
    margin-right: 8px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 1rem;
}

/* Message */
.success-message {
    color: green
}

.error-message {
    color: red;
}


/* ANIMATION  */
@keyframes fadeInGrowth {
    from {
        opacity: 0;
        transform: scale(var(--fadeInGrowth-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--fadeInGrowth-to));
    }
}

/* RESPONSIVE  */
.grid{
    
}