.led_light{
	margin-top: 150px;
}
.head{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.philips h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.philips p{
    padding-left: 50px;
    padding-right: 50px;
}
img{
   padding-left: 450px;
   margin-bottom: 30px;
   margin-top: 30px;
}
.panasonic h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.panasonic p{
    padding-left: 50px;
    padding-right: 50px;
}
.cree h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.cree p{
    padding-left: 50px;
    padding-right: 50px;
}
.sylvania h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.sylvania p{
    padding-left: 50px;
    padding-right: 50px;
}
.osram h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.osram p{
    padding-left: 50px;
    padding-right: 50px;
}
.zumtobel h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
.zumtobel p{
    padding-left: 50px;
    padding-right: 50px;
}