.brand__container {
    padding: 150px 0 50px;
    background-color: #f0f0f0;
}

.brand__top {
    width: 90%;
    margin: 0 auto;
    height: 400px;
}

.brand__heading {
    color: var(--purple-color);
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.brand__img {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    flex-wrap: wrap;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
}

.brand__img::-webkit-scrollbar {
    display: none;
}

.brand__img img {
    height: 70px;
    margin: 1rem;
}

.brand__body {
    width: 90%;
    margin: -4rem auto 0;
    margin-bottom: 2rem;
}

.brand__info {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.brand__info:first-child {
    margin-bottom: 2rem;
}

.brand__info .info__heading {
    color: var(--purple-color);
    font-size: 1.6rem;
}

.brand__info .info__text {
    line-height: 2rem;
    font-size: 1.2rem;
}

/* related  */
.brand__related {
    margin: 1rem 0;
}

.product__content {
    grid-template-columns: repeat(4, 25%);
    gap: 25px 20px;
    width: 90%;
}

.related__title {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 2rem;
}

.related__title h4 {
    color: var(--purple-color);
    font-size: 1.3rem;
}

.related__title a {
    text-decoration: none;
    color: var(--purple-color);
    transition: all .3s;
}

.related__title a:hover {
    color: var(--pink-color);
}

/* tablet  */
@media (min-width: 740px) and (max-width: 1023px) {
    .brand__container {
        padding: 150px 0 20px;
    }

    .brand__top {
        width: 90%;
        margin: 0 auto;
        height: 350px;
    }

    .brand__heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .brand__img {
        grid-template-columns: repeat(4, 31%);
        padding: .2rem;
    }

    .brand__img img {
        height: 60px;
    }

    .brand__body {
        width: 90%;
        margin: -4rem auto 0;
    }

    .brand__info .info__heading {
        font-size: 1.3rem;
    }

    .brand__info .info__text {
        line-height: 1.6rem;
        font-size: 1rem;
    }

    /* related  */
    .brand__related {
        margin: 1rem 0;
    }

    .related__title {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 1rem;
    }

    .related__title h4 {
        font-size: 1.2rem;
    }

}

/* mobile  */
@media (max-width: 739px) {
    .brand__container {
        padding: 140px 0 20px;
    }

    .brand__top {
        height: 300px;
        width: 95%;
    }

    .brand__heading {
        font-size: 1.6rem;
        margin-bottom: .9rem;
    }

    .brand__img {
        grid-template-columns: repeat(4, 40%);
        padding: 0;
    }

    .brand__img img {
        height: 40px;
    }

    .brand__body {
        width: 95%;
        margin: -6rem auto 0;
    }

    .brand__info {
        padding: 1rem;
    }

    .brand__info:first-child {
        margin-bottom: 0rem;
    }

    .brand__info .info__heading {
        font-size: 1.1rem;
    }

    .brand__info .info__text {
        line-height: 1.5rem;
        font-size: .8rem;
    }

    /* related  */
    .brand__related {
        margin: 1rem 0;
    }

    .related__title {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 1rem;
    }

    .related__title h4 {
        font-size: 1rem;
    }

    .related__title a {
        font-size: .9rem;
    }
}