/** Style of form **/
.btnLogin-popup:hover {
    cursor: pointer;
}

.modal__body {
    width: 500px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.modal {
    transform: scale(0);
    transition: transform .3s;
}

.modal.active-popup {
    transform: scale(1);
}

.modal__body.active {
    height: 643px;    
}

.modal__body .modal__register {
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.modal__body.active .modal__register {
    transition: transform .3s ease;
    transform: translateX(0);
}

.modal__body .modal__login {
    position: relative;
    transition: transform .3s ease;
    transform: translateX(0);
}

.modal__body.active .modal__login {
    transition: none;
    transform: translateX(-600px);
}

.modal__body .login-close,
.modal__body .register-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 0 5px;
    transition: all .3s;
}

.modal__body .login-close:hover,
.modal__body .register-close:hover {
    background-color: var(--pink-color);
}

.modal__body h2 {
    font-size: 2.5rem;
    color: var(--purple-color);
    margin: .5rem 0 1rem;
}

.modal__body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.modal__body .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal__body form div input {
    width: 100%;
    height: 2.7rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 0 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all .3s;
    margin-bottom: .5rem;
}

.modal__body label {
    display: block;
    margin-bottom: .2rem;
}

.modal__body input:focus {
    border-color: #4f70b5;
}

.modal__body form i {
    margin-top: .2rem;
    color: var(--purple-color);
}

/** Style of social **/
.modal__body .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin: 1rem 0 0;
}

.modal__body .btn-1,
.modal__body .btn-2 {
    font-size: .75rem;
    padding: 10px 4px;
    width: 50%;
    height: 3rem;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal__body .btn-1 i {
    font-size: 1rem;
}

.btn-1 img {
    width: 2rem;
}

.modal__body .btn-2 {
    background-color: #4f70b5;
    color: white;
}

.modal__body .or {
    text-align: center;
    margin: .5rem 0 0rem;
}

.modal__body .question {
    font-size: 15px;
    text-align: center;
}

.modal__body span {
    color: var(--pink-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.modal__body span:hover {
    text-decoration: underline;
    color: var(--pink-color);
}

/** Style of form icons **/
form div i {
    position: absolute;
    padding: 10px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 1.1rem;
    margin-top: 5px;
}

.error label{
    font-size: .95rem;
}

/** Style of button **/
.modal__body .form__button button{
    width: 100%;
    margin: 0 0 1.5rem;
    margin-top: 15px;
}

/* login form  */
.form__remember-forget {
    margin: .5rem 0 .5rem auto ;
    font-size: .9rem;
}

