.payment__container{
    width: 100%;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f0f0;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 150px 1.5rem 2rem;
    margin: 0 auto;
}
.payment__left{
	flex-basis: 50%;
}
.payment__right{
	flex-basis: 50%;
}

.payment__container span {
	padding-bottom: 40px;
}
.payment__name {

}

.payment__email {

}

.payment__address {

}

.payment__city {

}

.payment__zip {

}

.payment__state {

}

.payment__zipcode {

}

.payment__card {

}

.payment__expmonth {

}

.payment__expyear {

}

.payment__cvv {

}

.payment__container form{
	padding: 1rem;
}

.payment__heading{
	margin-top: 1rem;
	color: var(--purple-color);
}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

form img {
    cursor: pointer;
}

#payment__zip{
	display: flex;
	margin-top: 0.5rem;
}

#payment__zip select{
	padding: 0.5rem 0.7rem;
	outline: none;
}

#payment__zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;
	outline: none;
}

.payment__btn-checkout[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	color: white;
	outline: none;
	margin: 1rem auto 0;
	cursor: pointer;
}

.payment__btn-checkout[type="submit"]:hover{
	color: black;
}

.error {
	margin-bottom: 5px;
}

@media only screen and (max-width: 770px){
	.payment__container{
		flex-direction: column;
		padding: 130px 1.5rem 2rem;
		margin: 0 auto;
	}

	body{
		overflow-x: hidden;
	}

	.payment__container .payment__heading{
		font-size: 1.2rem;
	}

	.form-field label {
		font-size: 1.1rem;
	}
}

