.thankyou {
    position: relative;
    display: flex;
    width: 800px;
    height: 400px;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.modal {
    transform: scale(0);
    transition: transform .3s;
}

.modal.active-popup {
    transform: scale(1);
}

.thankyou-close {
	position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 0 5px;
    transition: all .3s;
}

.thankyou-close:hover {
    background-color: var(--pink-color);
}

.thankyou__contain i {
    color: rgb(28, 195, 28);
    font-size: 3.5rem;
    margin-bottom: 8px;
}

.thankyou__contain h2 {
    color: rgb(28, 195, 28);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.thankyou__contain h3 {
    color: var(--purple-color);
}

.thankyou__contain blockquote {
    color: var(--purple-color);
    margin: 10px 0 20px;
}

/* Tablet  */
@media (min-width: 740px) and (max-width: 1023px) {
    .thankyou {
        width: 600px;
    }
}

/* Mobile  */
@media (max-width: 739px) {
    .thankyou {
        width: 100%;
        height: 300px;
    }

    .thankyou__contain i {
        font-size: 2.5rem;
    }

    .thankyou__contain h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .thankyou__contain h3 {
        font-size: 1rem;
        padding: 0 20px
    }

    .thankyou__contain blockquote {
        font-size: .9rem;
    }
}